.custom-calendar {
    box-shadow: 0 1em 3em rgba(156, 136, 255, 0.2);
}

.custom-today-day {
    color : #e67e22 !important;
    border: 1px solid #e67e22 !important;
}

.custom-today-day::after {
    visibility: hidden;
    /* hide small border under the text */
}

.responsive-calendar {
    /* by setting font-size, all the elements will correspond */
    font-size: 10px !important; /* default to 10px */
  }

  @media (max-width: 1500px) {
    .responsive-calendar {
      font-size: 10px !important;
    }
  }

  @media (max-width: 1200px) {
    .responsive-calendar {
      font-size: 7px !important;
    }
  }

  @media (max-width: 768px) {
    .responsive-calendar {
      font-size: 6px !important;
    }
  }

  /* Large screens */
  @media (min-width: 2500px) {
    .responsive-calendar {
      font-size: 12px !important;
    }
  }