  /* Snow Theme */
.ql-snow.ql-toolbar {
  width: 100% !important;
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-container {
  width: 100% !important;
  background: #fefcfc;
}

.ql-editor {
  height: 9em;
  max-height: 9em;
}

.ql-counter{
  text-align: center;
  font-size: 0.8em;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}