  /* Snow Theme */
.ql-snow.ql-toolbar {
  width: 100% !important;
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-container {
  width: 100% !important;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-editor {
  min-height: 18em;
}
